// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #112d49;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-header {
  background-color: #0a1a2d;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.app-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.app-left-column {
  flex: 1;
  //flex-basis: 35%;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.app-right-column {
  flex: 1;
  // flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

.app-block {
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .app-main {
    width: 100%;
    flex-direction: column;
  }

  .app-left-column,
  .app-right-column {
    flex-basis: 100%;
    align-self: unset;
  }
}
